
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.div {
    background-image: url(img/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;
    flex-shrink: 0;
}

.title{
    color: #FFF;
    font-size: 64px;
    padding-top: 217px;
    padding-bottom: 32px;
}

.top__text{
    color: #FFF; 
    font-size: 18px;
    padding-bottom: 57px;
}

.button{
    font-size: 18px;
    border-radius: 30px;
background: #9C0332;
border: #9C0332;
height: 48px;
width: 234px;
}

.footer{
    background-image: url(img/Rectangle\ 5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 556px;
    flex-shrink: 0;
}